#head{
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #282c34;
    font-size: 15px;
    border-radius: 0px;
}

.menuButton{
    color: white;
    font-size: 30px;
    width: 70px;
    height: 45px;
    cursor: pointer;
    transition: 0.3s;
}

.minimizeButton:hover{
    background-color: rgba(255,255,255,0.1);
    transition: 0.5s;
}

.closeButton:hover{
    background-color: rgba(255, 0, 0, 0.1);
    transition: 0.5s;
}
